
.rate > input{
    display: none;
}

.rate{
    display: inline-block;
    border: none;
}

.rate > label{
    float: right;
}


.rate label:before{
    float: right;
    font-size: 1rem;
    font-family: fontawesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}


.rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;   
}

input:checked ~ label, label:hover ~ label{
    color: #ffb503;
}

input:checked + label:hover, input:checked ~ label:hover, input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
    color: #c78c02;
}


.thumb{
    margin: 0 auto;
    padding: 0;
    float: left;
    list-style: none;
    display: inline;
    
}

.thumb li a{
    list-style: none;
    display: inline;
    margin: 10px;
    height: 80px;
    width: 80px;
}

.thumb li a img{
    width:80px;
    height: 80px;
    border: 1px soild gray;
}
